{% extends "base.html" %}
{% block title %}
Thermos |Add a url
{% endblock %}

{% block content %}
<section>
    <h1>Add a new Url</h1>
    <Form action="" method="post">
        {{form.hidden_tag()}}
        <table>
            <tr>

          <td> Please enter your bookmark here: </td>
          <td> {{form.url(size=50)}}</td>
          </tr>
            <tr>

          <td>  Add a description: </td>
          <td> {{form.description(size=50)}}</td>
          </tr>
          <tr>
          <td></td>
          <td> <button type='submit'>Submit</button></td>
          </tr>
          </table>
    </Form>
</section>
{%endblock%}
{% block sidebar%}
{%endblock%}