{% extends "base.html" %}
{% block title %}
Thermos | Welcome
{% endblock%}

{% block content%}
                <article>
                    <header>
                         <h1>Hi, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %} please sign in {% endif %}!</h1>
                        <h1>Welcome</h1>
                        <p> My Bookmark is a simple web app that stores your bookmarks.</p>
                    </header>
                    <section>
                        <h2>Recently Added</h2>
                        {% if new_bookmarks.count() > 0 %}
                            {% with bookmarks=new_bookmarks %}
                                {% include 'bookmark_list.html' %}
                                {% endwith %}
                            {% else %}
                            No bookmarks have been added yet.
                            {% endif %}
                    </section> 
                </article>
    {% endblock %}




