{% extends "base.html" %}
{% block title %}
Thermos | Welcome
{% endblock%}

{% block content%}
                <article>
                    <header>
                      {% if current_user.is_authenticated %} <h1 class="Welcome"><i class="fa fa-user"> </i> Hi,{{ current_user.username|capitalize }}{% else %}<h2> Dont have an account?</h2> {% endif %}</h1>
                      
                        <p> My Bookmark is a simple web app that stores your bookmarks.</p>
                    </header>
                    <section>
                        <h2>Recently Added</h2>
                        {% if new_bookmarks.count() > 0 %}
                            {% with bookmarks=new_bookmarks %}
                                {% include 'bookmark_list.html' %}
                                {% endwith %}
                            {% else %}
                            No bookmarks have been added yet.
                            {% endif %}
                    </section> 
                </article>
    {% endblock %}




