/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,400italic,600,300italic,300|Oswald:400,300,700|Poiret+One|Tillana|Raleway:300,300i,400|Lato:300,300i,400");
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    /*font: 16px/26px Helvetica, Helvetica Neue, Arial;
background-color: #f0f7e6;*/
    width: 100%;
    min-height: 100%;
    background-color: rgba(158, 158, 158, 0.12);
    font-family: "Roboto","Helvetica",arial,sans-serif;
    color: #222222;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    word-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    
}

.wrapper {
    width: 90%;
    margin: 0 5%;
        padding-bottom: 30px;
}

.btn-default {
    color: #ee6e73 !important;
    background-color: #fff;
    border-color: #ee6e73;
}

.btn-default:hover {
    color: #fff!important;
    background-color: #ee6e73;
    border-color: #ee6e73;
}

.form-control:focus {
    border-color: #ee6e73!important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #ee6e73;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #ee6e73;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #ee6e73;;
}
.btn-default.focus, .btn-default:focus {
    color: #ee6e73 !important;
    background-color: #fff;
    border-color: #ee6e73;
}
.btn-default.active, .btn-default:active {
    color: #fff !important;
    background-color: #ee6e73 !important;
    border-color: #ee6e73;
}
h3{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #333;
    font-size: x-large;

}
h3.footer-title{
    font-family: Tahoma, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #fff;

}
.btn, .btn-large, .btn-flat {
    text-transform: Capitalize;
        /*padding: 0 0rem;*/
        letter-spacing: inherit;
        background-color: #8bab60;
}
.btn:hover, .btn-large:hover {
    background-color: transparent;
}

/* ===================
    ALL: Orange Theme
   =================== */

/*.header-container {
    border-bottom: 20px solid #ee6e73
}*/

.footer-container {
    border-top: 20px solid#3c3c3c;
}
.social-box {
    height: 75px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #3c3c3c;
    padding: 50px;
    font-size: 15px;
}
.inner a {
    text-align: center;
    display: inline-block;
    font-size: xx-large;
    padding: 0 15px 0 15px ;
    padding-left: 0px;
    margin-top: 30px;
}
}

/*.header-container {
    background: #ee6e73
}*/

.footer-container {
    background: #2d2c2c;
}

.main aside {
    background: #1976D2;
    border-top: 20px solid #1976d2;
}
.title {
    color: white;
}

.title:hover {
    text-decoration: none;
    color: #795548;
}


/* ==============
    MOBILE: Menu
   ============== */

/*nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background:#ee6e73;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: none;
    color: #FFB74D;*/
}
/*error style*/
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #92b06a;
}
.has-error .form-control {
    border-color: #92b06a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/* ==============
    MOBILE: Main
   ============== */



.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*link styling */
/*
a,
a:visited {
    color: #92b06a;
}*/

    /*header, main, wrapper,footer {
      padding-left: 300px;
    }*/

    /*@media only screen and (max-width : 992px) {*/
      /*header, main, footer {
        padding-left: 0;
      }
    }*/
          
a {
    color: #4CAF50;
}
a:hover,
aside a:hover,
aside a:visited:hover {
    /*color: #D39447;*/
    text-decoration: none;
}

aside a {
    color: #fff;
}

aside a:hover {
    color: #f5bb73;
    text-decoration: none;
}

aside a:visited {
    color: #E0E0E0;
}

.main aside h3,
footer h3,
footer a,
footer a:visited {
    color: white
}

.flash ul {
    margin-top: 20px;
    background: #92b06a;
    color: #fff;
    list-style: none;
    list-style-type: none;
}

.flash ul {
    margin-top: 20px;
    background: #92b06a;
    color: #fff;
     padding: 8px;
    margin-bottom: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.flash {
    margin-bottom: 1em;
}

h1.service-title {
    font-family:Tahoma, sans-serif;
    font-size: 40px;
    font-weight: lighter;
    line-height: 58px;
    letter-spacing: 1px;
    color: #3E2723;
}
    ul.bookmarks {
        list-style: none none;
        padding-left: 0;
    }
    ul.bookmarks li {
        padding-bottom: .5em;
        border-top: 1px solid #ccc;
        f;
        padding: 1em 0;
    }
    .bookmark {
        padding-bottom: .5em;
        border-top: 1px solid #7ea6bf;
        padding: 1em 0;
    }
    a.header {
        color: #FF8A65;
        text-decoration: none;
        display: block;
    }
    a.header h3 {
        margin: 0 0;
    }
    div.info {
        font-size: .95em;
        color: #666666
    }
    span.editlinks {
        float: right;
    }
    h1.welcome {
        color: #FF5722
    }
      nav {
          color: #fff;
          background-color: #dd5347;
      }
      
      footer.page-footer {
          padding-top: 20px;
          background-color: #3c3c3c;
      }
      
      footer.page-footer .footer-copyright {
          background-color: #2d2c2c;
      }
      .parallax-container {
          height: 700px;
  }
  
  .caption h1 {
      color: #fff;
      font-size: 60px;
      margin-bottom: 30px;
      font-family: "Roboto", "Helvetica", arial, sans-serif;
      font-weight: lighter;
  }
  .caption {
      position: absolute;
      top: 50%;
      margin-top: -104px;
      left: 0;
      right: 0;
      text-align: center;
      text-transform: uppercase;
      z-index: 15;
      font-size: 18px;
      font-weight: 300;
      color: #fff;
  }
  .caption .btn-start {

  margin-top: 40px;
}
  
   .fa-angle-down {
  position: absolute;
  left: 50%;
  bottom: 70px;
  color: #fff;
  display: inline-block;
  width: 24px;
  margin-left: -12px;
  font-size: 24px;
  line-height: 24px;
  z-index: 999;
  -webkit-animation: bounce 3000ms infinite;
  animation: bounce 3000ms infinite;
}
  .added h3 {
      font-size: 28px;
      font-weight: 100;
      line-height: 48px;
      margin: auto;
      max-width: 400px;
      /*padding-bottom: 10px;*/
      
      color: #333;
      padding-top: 25px;
      white-space: pre-wrap;
  }
  .added p {
      font-size: 15px;
      font-weight: 100;
      line-height: 24px;
      max-width: 400px;
      text-align: center;
      margin: auto;
      font-family: "Roboto", "Helvetica", arial, sans-serif;
      white-space: pre-wrap;
  }
  .single-features {
  overflow: hidden;
  padding-top: 65px;
  padding-bottom: 40px;
}

.single-features .col-sm-6 {
  margin-top: 50px;
}

.single-features:last-child {
  padding-bottom: 95px;
  padding-top: 0;
}

.single-features h2{
  margin-bottom: 15px;
}
  text-center{

      text-align: center;
  }
     /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #8bab60;
     box-shadow: 0 1px 0 0 #8bab60;
   }
     .bookmark  nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }
   .bookmark nav li:first-child a {
        margin-left: 0;
    }
  .bookmark  nav li:last-child a {
        margin-right: 0;
    }
    /*bookmark list style*/

    /* ========================
    INTERMEDIATE: IE Fixes
   /*======================== */
 .bookmark   nav ul li {
        display: inline;
    }
    .oldie nav a {
        margin: 0 0.7%;
    }
}
/*nav {
    color: #fff;
    background-color: #795548;
    width: 100%;
    height: 56px;
    line-height: 56px;
}*/

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
    /* ====================
    INTERMEDIATE: Menu
   ==================== */


@media only screen and (min-width: 768px) {
    /* ====================
    WIDE: CSS3 Effects
   ==================== */
    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
    }
    /* ============
    WIDE: Menu
   ============ */
    .title {
        float: left;
    }
    /*nav {
        float: right;
        width: 38%;
    }*/
    /* ============
    WIDE: Main
   ============ */
    .main article {
        float: left;
        width: 57%;
    }
    .main aside {
        float: right;
        width: 33%;
    }
}

@media only screen and (min-width: 1140px) {
    /* ===============
    Maximal Width
   =============== */
    .wrapper {
        width: 1026px;
        /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
        text-decoration: none;
    }
}






/*RESPONSIVE */




/* lg */ 
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
 	.navbar-right li a {
		font-size: 12px;
		padding-right: 10px;
	}
	.social-icons ul li {
		margin-bottom: 10px;
	}
	.price {
		font-size: 16px;
		height: 110px;
		line-height: 30px;
		width: 100%;
	}
	.price span {
		font-size: 40px;
		margin-top: 27px;
	}
	.btn-signup {
		padding: 10px 20px;
	}
}

/* xs */
@media (max-width: 767px) {
	body {
		font-size: 14px;
	}
  .caption h1 {
		font-size: 40px;
	}
 .caption {
		font-size: 15px;
		padding: 0 30px;
	}
	.left-control, .right-control {
		font-size: 20px;
		height: 30px;
		line-height: 25px;
		width: 30px;
	}
	#home-slider:hover .right-control {
		right: 15px;
	}
	#home-slider:hover .left-control {
		left: 15px;
	}
	.caption .btn-start {
		font-size: 12px;
		padding: 10px 30px;
	}
	.navbar-brand {
		padding: 0 15px 15px;
	}
	.navbar-toggle {
	  border:1px solid #fff;
	}

	.navbar-toggle .icon-bar {
	  background-color: #fff;
	}
	.navbar-right li a {
		font-size: 13px;
		padding-bottom: 8px;
		padding-top: 10px;
	}

	/*services*/
	section {
		padding: 45px 0;
	}
	.heading {
		font-size: 14px;
		padding-bottom: 45px;
	}
	.heading h2 {
		font-size: 26px;
	}
	.service-info h3 {
		font-size: 20px;
	}
	.our-services .col-sm-4 {
		margin-bottom: 32px;
		padding-bottom: 20px;
	}
	.our-services .col-sm-4:nth-child(4), 
	.our-services .col-sm-4:nth-child(5), 
	.our-services .col-sm-4:nth-child(6) {
		padding-top: 0;
	}
	.service-icon {
		font-size: 30px;
		height: 65px;
		line-height: 62px;
		width: 65px;
	}
	.our-services .col-sm-4:hover .service-icon:before {
		height: 90px;
		width: 90px;
	}
	.about-info {
		text-align: center;
		margin-bottom: 50px;
	}
	.team-member {
		margin-bottom: 50px;
	}
	.team-members .col-sm-3, 
	.pricing-table .col-sm-3, 
	#portfolio .col-sm-3, 
	.blog-posts .col-sm-4  {
		width: 50%;
		float: left;
	}
	.social-icons ul li a {
		font-size: 14px;
		height: 30px;
		line-height: 30px;
		width: 30px;
	}	
	.count .col-xs-6 {
		margin-bottom: 35px;
	}
	#features {
		min-height: 330px;
	}
	#features i {
		font-size: 35px;
	}
	#features h3 {
		font-size: 25px;
	}
	.price span {
		font-size: 50px;
		margin-top: 25px;
	}
	.price {
		font-size: 18px;
		height: 110px;
		line-height: 35px;
		width: 130px;
	}
	.single-table ul {
		margin-top: 22px;
	}
	.single-table ul li {
		font-size: 14px;
		margin-top: 15px;
	}
	.btn-signup {
		font-size: 12px;
		margin-top: 25px;
		padding: 10px 35px;
	}
	.single-table{
		margin-bottom: 40px;
		padding: 20px;
	}
	#twitter {
		padding-bottom: 75px;
	}
	.twitter-left-control, 
	.twitter-right-control {
		top: inherit;
		bottom: 30px;
		height: 25px;
		width: 25px;
		line-height: 23px;
		font-size: 14px;
	}
	.twitter-left-control {
		left: 40%
	} 
	.twitter-right-control {
		right: 40%
	}
	#blog {
		overflow: hidden;
	}
	.entry-header h2 {
		line-height: 20px;
	}
	.blog-posts .col-sm-4 {
		margin-bottom: 35px;
	}
	.load-more {
		margin-top: 35px;
	}
	.btn-loadmore {
		font-size: 12px;
		padding: 15px 75px;
	}
	#contact-us .heading {
		padding-top: 35px;
	}
	.contact-info {
		padding-left: 0;
	}
	#footer .footer-bottom {
		text-align: center;
	}
	.footer-bottom p.pull-right {
		float: none !important;
	}
}

/* XS Portrait */
@media (max-width: 479px) {
  
	.team-members .col-sm-3, 
	.pricing-table .col-sm-3, 
	#portfolio .col-sm-3, 
	.blog-posts .col-sm-4 {
		width:100%;
		float: none;
	}
}
