/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,400italic,600,300italic,300|Oswald:400,300,700|Poiret+One|Tillana|Raleway:300,300i,400|Lato:300,300i,400");
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    /*font: 16px/26px Helvetica, Helvetica Neue, Arial;
background-color: #f0f7e6;*/
    width: 100%;
    min-height: 100%;
    background: #FFFFFF;
    font-family: "Roboto", "Open Sans";
    color: #222222;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    word-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.btn-default {
    color: #ee6e73 !important;
    background-color: #fff;
    border-color: #ee6e73;
}

.btn-default:hover {
    color: #fff!important;
    background-color: #ee6e73;
    border-color: #ee6e73;
}

.form-control:focus {
    border-color: #ee6e73!important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #ee6e73;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #ee6e73;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #ee6e73;;
}
.btn-default.focus, .btn-default:focus {
    color: #ee6e73 !important;
    background-color: #fff;
    border-color: #ee6e73;
}
.btn-default.active, .btn-default:active {
    color: #fff !important;
    background-color: #ee6e73 !important;
    border-color: #ee6e73;
}
h3{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #555555;

}
h3.footer-title{
    font-family: Tahoma, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #fff;

}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #ee6e73
}

.footer-container {
    border-top: 20px solid#3c3c3c;
}
.social-box {
    height: 75px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #3c3c3c;
    padding: 50px;
    font-size: 15px;
}
.inner a {
    text-align: center;
    display: inline-block;
    font-size: xx-large;
    padding: 0 15px 0 15px ;
}

.header-container {
    background: #ee6e73
}

.footer-container {
    background: #2d2c2c;
}

.main aside {
    background: #ee6e73;
    border-top: 20px solid #ee6e73;
}

.title {
    color: white;
}

.title:hover {
    text-decoration: none;
    color: #795548;
}


/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background:#ee6e73;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: none;
    color: #FFB74D;
}
/*error style*/
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #92b06a;
}
.has-error .form-control {
    border-color: #92b06a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*link styling */

a,
a:visited {
    color: #92b06a;
}

a:hover,
aside a:hover,
aside a:visited:hover {
    color: #D39447;
    text-decoration: none;
}

aside a {
    color: #ffd6a3;
}

aside a:hover {
    color: #f5bb73;
    text-decoration: none;
}

aside a:visited {
    color: #E0E0E0;
}

.main aside h3,
footer h3,
footer a,
footer a:visited {
    color: white
}

.flash ul {
    margin: 0 0;
    background: #92b06a;
    color: #fff;
    list-style: none;
    list-style-type: none;
}

.flash ul {
    background: #92b06a;
    color: #fff;
     padding: 8px;
    margin-bottom: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.flash {
    margin-bottom: 1em;
}

h1.service-title {
    font-family:Tahoma, sans-serif;
    font-size: 40px;
    font-weight: lighter;
    line-height: 58px;
    letter-spacing: 1px;
    color: #3E2723;
}
    ul.bookmarks {
        list-style: none none;
        padding-left: 0;
    }
    ul.bookmarks li {
        padding-bottom: .5em;
        border-top: 1px solid #ccc;
        f;
        padding: 1em 0;
    }
    .bookmark {
        padding-bottom: .5em;
        border-top: 1px solid #7ea6bf;
        padding: 1em 0;
    }
    a.header {
        color: #FF8A65;
        text-decoration: none;
        display: block;
    }
    a.header h3 {
        margin: 0 0;
    }
    div.info {
        font-size: .95em;
        color: #666666
    }
    span.editlinks {
        float: right;
    }
    h1.welcome {
        color: #FF5722
    }


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
    /* ====================
    INTERMEDIATE: Menu
   ==================== */
    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }
    nav li:first-child a {
        margin-left: 0;
    }
    nav li:last-child a {
        margin-right: 0;
    }
    /*bookmark list style*/

    /* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
    nav ul li {
        display: inline;
    }
    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {
    /* ====================
    WIDE: CSS3 Effects
   ==================== */
    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
    }
    /* ============
    WIDE: Menu
   ============ */
    .title {
        float: left;
    }
    nav {
        float: right;
        width: 38%;
    }
    /* ============
    WIDE: Main
   ============ */
    .main article {
        float: left;
        width: 57%;
    }
    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {
    /* ===============
    Maximal Width
   =============== */
    .wrapper {
        width: 1026px;
        /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
        text-decoration: none;
    }
}