  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
      <!--Import materialize.css-->
      <!--<link type="text/css" rel="stylesheet" href= '{{ url_for('static', filename='materialize.css')}}'>-->
      <link type="text/css" rel="stylesheet" href= '{{ url_for('static', filename='animate.min.css')}}'>
       <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
      <link rel="stylesheet" href= '{{ url_for('static', filename='main2.css')}}'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
     <!--<link type="text/css" rel="stylesheet" href="css/main.css"/>-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <!--<script type="text/javascript" src="../static/js/materialize.min.js"><-->
  
      <!-- to Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
<header>
    <body>
        <div class="header-container">
      
<!-- Dropdown Structure -->

<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">My Profile</a></li>
  <li><a href="#!">Change password</a></li>
  <li class="divider"></li>
  <li><a href="{{ url_for('auth.logout')}}">Logout</a></li>
</ul>
 <!--<div class="navbar-fixed">-->
<nav>
  <div class="nav-wrapper">
    
    {% if current_user.is_authenticated %} <a href="{{url_for('main.index')}}" class="brand-logo"> 
      {% else %}<a href="{{url_for('main.home')}}" class="brand-logo"> {% endif %}
      <i class="tiny material-icons left">turned_in</i>Booky+</a>
	  <!--menu button-->
     <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
        <li><a href="{{url_for('bookmark.add')}}"><i class="material-icons left">add</i>Add url</a></li>
        {% if current_user.is_authenticated%}
        <li><a href="{{ url_for('main.user', username=current_user.username) }}"><i class="material-icons left">view_list</i>View Bookmarks</a></li>
        <li><a href="badges.html"><i class="material-icons left">search</i></a></li>
        {% else %}
         <li><a class="waves-effect waves-light btn" href="{{url_for('auth.signup')}}"><i class="material-icons left">person_add</i>Get Started</a></li>
      <!--<li><a href="{{url_for('auth.signup')}}"><i class="material-icons left">person_add</i>Get Started</a></li>-->
       {% endif %}
      <!-- Dropdown Trigger -->
      {% if current_user.is_authenticated%}
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">more_vert</i></a></li>
      {% else %}
       <li><a href="{{url_for('auth.login')}}"><i class="material-icons left">input</i>Log In</a></li>
        {% endif %}
    </ul>
    <!--side nav view-->
	{% if current_user.is_authenticated%}
<ul class="side-nav fixed" id="slide-out">
<style>
	header,
	main,
	wrapper,
	footer {
		padding-left: 300px;
	}
	
	@media only screen and (max-width: 992px) {
		header,
		main,
		footer {
			padding-left: 0;
		}
	}
</style>
		{% else %}
		<ul class="side-nav" id="slide-out">
			{% endif %}
          <li><div class="userView">
    <!--side view background-->
      <div class="background">  
        <img src="../static/bg.jpg">
      </div>
      <a href="#!user"><img class="circle" src="../static/face2.jpg"></a>
      <!--Side menu for authenticated users-->
      {% if current_user.is_authenticated%}
      <a href="#!name"><span class="white-text name">{{ current_user.username|capitalize }}</span></a>
      <a href="#!email"><span class="white-text email">{{ current_user.email | capitalize}}</span></a>
      {% else %}
      <a href="#!name"><h3><span class="white-text name">Hi,Stranger!</h3></span></a>
      {% endif %}
    </div></li>
    <!--end of authentication-->
<!--side menu action-->
<li><a class="subheader">Get Started</a></li>
 <li><a href="{{url_for('bookmark.add')}}"><i class="material-icons left">add</i>Add url</a></li>
        {% if current_user.is_authenticated%}
        <li><a href="{{ url_for('main.user', username=current_user.username) }}"><i class="material-icons left">view_list</i>View Bookmarks</a></li>
        <li><a href="badges.html"><i class="material-icons left">search</i>search</a></li>
	    <li><div class="divider"></div></li>
		<li><a class="subheader">My Account</a></li>
	   
		<li><a href="{{ url_for('auth.change_username')}}"><i class="material-icons left">person</i>Change username</a>
		<li><a href="{{ url_for('auth.change_password')}}"><i class="material-icons left">lock_open</i>Change password</a>
        <li><a href="{{ url_for('auth.logout')}}"><i class="material-icons left">keyboard_tab</i>Logout</a></li>
			 <li><a href="{{url_for('auth.login')}}"><i class="material-icons left">share</i>Share Booky+</a></li>
			 <li><a href="{{url_for('auth.login')}}"><i class="material-icons left">help</i>Stuck?</a></li>
        {% else %}
		    <!--nav bar menu for non and auth users-->
         <li><a href="{{url_for('auth.signup')}}"><i class="material-icons left">person_add</i>Get Started</a></li>
     <li><a href="{{url_for('auth.login')}}"><i class="material-icons left">input</i>Log In</a></li>
	 <li><a href="{{url_for('auth.login')}}"><i class="material-icons left">help</i>Stuck?</a></li>
       {% endif %}</li>
    </ul>
  </div>
</nav>
 </div>
 <!--End of nav bar-->
 <!--start: Fab button for non and auth users-->
   <div class="fixed-action-btn">
    <a class="btn-floating btn-large blue">
      <i class="large material-icons">edit</i>
    </a>
    <ul>
      
   
      {% if current_user.is_authenticated%}
      <li><a class="btn-floating red" href="{{url_for('main.index')}}"><i  class="material-icons">home</i></a></li>
      <li><a class="btn-floating yellow darken-1"href="{{url_for('auth.logout')}}"><i class="material-icons">keyboard_tab</i></a></li>
      <li><a class="btn-floating green"href="{{ url_for('main.user', username=current_user.username) }}"><i class="material-icons">library_books</i></a></li>
      {% else %}
       <li><a class="btn-floating red" href="{{url_for('main.home')}}"><i  class="material-icons">home</i></a></li>
       <li><a class="btn-floating yellow darken-1"href="{{url_for('auth.login')}}"><i class="material-icons">input</i></a></li>
       <li><a class="btn-floating green"href="{{url_for('auth.signup')}}"><i class="material-icons">person_add</i></a></li>
        {% endif %}
      <li><a class="btn-floating blue" href="{{url_for('bookmark.add')}}"><i class="material-icons">library_add</i></a></li>
    </ul>
  </div>
<!--End: FAB button-->
<!--Start: Home parallax image-->
{% block parallax %}
  <div class="parallax-container">
            <div class="caption">
            <h1 class="animated fadeInLeftBig">Welcome to <span>Booky+</span></h1>
            <p class="animated fadeInRightBig">Store - Share - Available - Fast</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="{{url_for('auth.signup')}}">Join now</a>
          </div>
               
               <a id="tohash" href="#intro"><i class="fa fa-angle-down"></i></a>
    <div class="parallax"><img src="../static/bg.jpg"></div>
  </div>
  
  
  <div class="section white">
    <div class="container">
    <div class="row">
      <div class="added">
        <!--about bookyplus-->
        <h3 id='intro'class="center-align">Meet your new Bookmark App</h3>
      <p class="grey-text text-darken-3 lighten-3">Store and share all your favorite Bookmarks in one place.You can also view what's new at a glance and visit and browse through tags.</p>
    </div>
  </div>
  </div>
  </div>
  
  <!--/End (paralax)-->
{% endblock %}


<div class="main-container">
            <div class="main wrapper clearfix">

                 <div class="row">
                   <!--alert,error flash messages-->
                <article class="col s12 m12 l6 offset-l3 flash">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                       {% for message in messages %}
                        <li class="center-align"> {{ message}}</li>
                  <!--<a  class='btn' onhover=Materialize.toast('{{ message}}!', 4000) </a>-->
        
                        {% endfor %}
                    </ul> 
                    {% endif %}  
                    {% endwith %}
                </article>
                
                 </div>

                 {% block content %}
                {% endblock %}
 <!--tags for auth users-->
  {% block sidebar %}
{% if current_user.is_authenticated%}
                      <aside style="margin-top: 60px;">
                      <h3><i class="fa fa-tags" aria-hidden="true"></i> Tags</h3>
                     {% for t in all_tags() %}

                     <a href= "{{  url_for('bookmark.tag', name=t)}}">{{ t }}</a>

                     {% endfor %}
                </aside>
                {%else%}
				            </div> 
                </div> 
  <!--<div class="parallax-container">
    <div class="parallax"><img src="../static/6.png"></div>
  </div>-->
  <div class="section white">
    <div class="row container">
      <div class='added'>
      <h3 class="header center-align">Online Bookmarks</h3>
      <p class="grey-text text-darken-3 lighten-3">Organize your online bookmarks in nested cards and tags, search for tags, or view for your last added bookmark.</p>
      </div>
    </div>
  </div>
    <div class="parallax-container">
    <div class="parallax"><img src="../static/6.png"></div>
  </div>

{% endif %}
                {% endblock  %}


<!-- #main -->
        <!--</div>  #main-container -->
        </header>
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">I am Social!</h5>
                <div id="social-box">
        <div class="inner text-center">
            <a target="_blank" href="http://github.com/jimmykimani" class="fa fa-github"></a>
            <a target="_blank" href="http://twitter.com/jimkaks" class="fa fa-twitter"></a>
            <a target="_blank" href="http://medium.com/@jimmykimani" class="fa fa-medium"></a>
            <a target="_blank" href="http://medium.com/@jimmykimani" class="fa fa-github-alt "></a>
        </div>
    </div>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Add url</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">View Bookmarks</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Tags</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Logout</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
<h3 class="footer-title center-align">All rights reserved made with <i class="fa fa-heart-o"> </i>  by Jimmy kimani | 2017</h3>
            </div>
          </div>
        </footer>
 <script>
  $('.button-collapse').sideNav({
    menuWidth: 300, // Default is 300
    edge: 'left', // Choose the horizontal origin
    closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
    draggable: true // Choose whether you can drag to open on touch screens
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
      <script src= '{{ url_for('static', filename='main.js')}}'></script>
      <script src= '{{ url_for('static', filename='materialize.js')}}'></script>


      
    </body>
  </html>