{% extends "base.html" %}
{% block title %}
My Bookmark | Welcome
{% endblock%}

{% block content%}
                <article>
                    <header>
                      {% if current_user.is_authenticated %} <h1 class="Welcome"><i class="fa fa-user"> </i> Welcome, {{ current_user.username|capitalize }}!
                      <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                      {% else %}<h1 class="service-title text-center"> Not a member yet?  <a class='service-title'href="{{ url_for('auth.signup') }}">Join now!</h1> {% endif %}</a></h1>
                      
                       
                    </header>
                    <section>
                        <!--<h1 class="service-title text-center" >Recently Added</h1>-->
                        {% if new_bookmarks.count() > 0 %}
                            {% with bookmarks=new_bookmarks %}
                                {% include 'bookmark_list.html' %}
                                {% endwith %}
                            {% else %}
                            No bookmarks have been added yet.
                            {% endif %}
                    </section> 
                </article>
    {% endblock %}




