{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
My Bookmark | Log in
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3 auth-login-form">
        <div class="row">
            <h1 class="service-title text-center">Login</h1>
            <hr>
            <div class="col-sm-8 col-sm-offset-2">
                {{ wtf.quick_form(form) }}
                <br>
                <hr>
                <p>Password lost? we cant help at the momment</a>.</p>
                <p>New here? <a href="{{ url_for('auth.signup') }}">Click here to register</a>.</p>
            </div>
        </div>
    </div>
</div>
            


            


{% endblock %}
{% block sidebar %}
{% endblock %}