{% extends "base2.html" %}
<!--{% import "bootstrap/wtf.html" as wtf %}-->
{% block title %}
My Bookmark | Log in
{% endblock %}

{% block content %}
            
              
<div class="row">
    <div class="col s12 m12 l6 offset-l3">
        <div class="card-panel hoverable">
            <h4 class="header2 center-align ">Create an Account</h4>
            <div class="row">
                <form method="post" class="form" role="form" id='SignForm'>
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input type="text" class="validate" id="username" name="username" placeholder="Username">
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                           <i class="material-icons prefix">email</i>
                           <input type="email" class="validate" id="email" name="email" placeholder="Email">
                           <label for="email" data-error="wrong" data-success="right">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock</i>
                            <input type="password" class="validate" id="password" name="password" placeholder="Password">
                            <label for="password">Password</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock</i>
                            <input type="password" class="validate" id="password2" name="password2" placeholder="Confirm password'">
                            <label for="password2">Confirm password'</label>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn red waves-effect waves-light left" type="submit">Register
                              <i class="material-icons left">person_add</i>
                            </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block sidebar %}
{% endblock %}
 {% block parallax %}
 {% endblock %}