{% extends "base.html" %}
{% block title %}
My Bookmark | Bookmarks tagged {{ tag }}
{% endblock %}

{% block content %}
<article>       
<header>
<h1><i class="fa fa-bookmark" aria-hidden="true"></i> Bookmarks tagged in {{ tag }}  </h1>

        {% if tag.bookmarks.count() > 0 %}
            {% with bookmarks = tag.bookmarks %}
                  {% include 'bookmark_list.html' %}
        {% endwith %}

        {% else %}

        TThere are no bookmarks with this tag.

        {% endif %}

</header>
</article>
{% endblock %}