{% extends "base.html" %}
{% block title %}
My Bookmark | Bookmarks tagged {{ tag }}
{% endblock %}

{% block content %}

<h3><i class="fa fa-bookmark" aria-hidden="true"></i> Bookmarks tagged in {{ tag }}  </h3>

        {% if tag.bookmarks.count() > 0 %}
            {% with bookmarks = tag.bookmarks %}
                  {% include 'bookmark_list.html' %}
        {% endwith %}

        {% else %}

        TThere are no bookmarks with this tag.

        {% endif %}


</article>
{% endblock %}
 {% block parallax %}
 {% endblock %}