{% extends "base.html" %}
{% block title %}
My Bookmark | Users
{% endblock %}

{% block content %}
<article>       

<h1><i class="fa fa-bookmark" aria-hidden="true"></i>  Bookmarks for {{ user.username | capitalize}}  </h1>

        {% if user.bookmarks.count() > 0 %}
            {% with bookmarks =user.bookmarks %}
                  {% include 'bookmark_list.html' %}
        {% endwith %}

        {% else %}

        This user has not added any bookmarks yet.

        {% endif %}


</article>
{% endblock %}
 {% block parallax %}
 {% endblock %}